.myWrapper3 {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.myWrapper3 {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/art_m.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.foreground3 {
  transform: translate(-23%, 23%) scale(1);
}

.foreground3 {
  position: absolute;
  height: 81%;
  width: 100%;
  object-fit: scale-down;
  z-index: -1;
}

.chatbox3 {
  height: 100px;
  transform: translate(623%, 259%) scale(4);
}
