.myWrapper3 {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.myWrapper3 {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/art_m.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.foreground3 {
  transform: translate(-23%, 23%) scale(1);
}

.foreground3 {
  position: absolute;
  height: 81%;
  width: 100%;
  object-fit: scale-down;
  z-index: -1;
}

.chatbox3 {
  opacity: 0.8;
  height: 120px;
  width: 180px;
  transform: translate(750%, 210%) scale(4);
  position: absolute;
  left: -30%;
}

.button-doges {
  background-color: #f3cc30; /* Green */
  position: absolute;
  border: none;
  color: #0e0d0dfc;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(1185%, 1777%) scale(2.5);
  border: 1px solid black;
}
.button-doges2 {
  background-color: #f3cc30; /* Green */
  position: absolute;
  border: none;
  color: #0e0d0dfc;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(1092%, 2085%) scale(2.5);
  border: 1px solid black;
}

.h3arrange {
  width: 35%;
  position: relative;
  left: 62%;
  transform: translate(-53%, 453%);
}
.p3 {
  position: relative;
  width: 40%;
  transform: translate(108%, 88%);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@1,700&display=swap");
.p3 {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
}
