.slide6image {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/exchange.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* max-width: 100%;
      height: 100vh; */
}

.dogShortener {
  height: 70vh;
  position: relative;
  left: 67%;
  top: 30%;
}

.chatbox6 {
  opacity: 0.8;
  height: 120px;
  width: 180px;
  transform: translate(439%, -155%) scale(4) scaleX(-1);
  position: relative;
  left: -35%;
}
