.slide5image {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/gym.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* max-width: 100%;
    height: 100vh; */
}

.dogShrink {
  height: 70vh;
  position: relative;
  left: 67%;
  top: 30%;
}
.dogShrink2 {
  height: 50vh;
  position: relative;
  left: -22%;
  top: 30%;
}

.chatbox5 {
  opacity: 0.8;
  height: 160px;
  width: 240px;
  transform: translate(193%, -150%) scale(4);
  position: relative;
  left: 13%;
  bottom: 55%;
}
.text5 {
  position: relative;
  /* padding: 30px; */
  width: 60%;
  font-size: 20px;
  left: 25%;
  bottom: 59%;
  color: white;
  z-index: 10;
}
.p5 {
  height: 20vh;
  width: 90%;
}
.h5 {
  width: 60%;
}
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@1,700&display=swap");
.p55 {
  font-family: "Cabin", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@1,700&display=swap");
.p5 {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
}
