body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}
.blink-animation {
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.image-scroll {
  height: 4%;
  display: flex;
  position: relative;
  left: 48%;

  /* transform: scale(50%, 50%); */
  top: 74%;
  opacity: 0.5;
  animation: fadeIn 0.8s infinite alternate;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

h4 {
  display: flex;
  color: white;
  position: relative;
  left: 40%;
  font-size: 25px;
  top: 75%;
}
