.slide7image {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/moon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* max-width: 100%;
        height: 100vh; */
}

.dogAstro {
  height: 76vh;
  position: relative;
  left: 14%;
  top: 24%;
}
.chatbox7 {
  opacity: 0.8;
  height: 90px;
  width: 140px;
  transform: translate(623%, 259%) scale(4);
  position: relative;
  left: -23%;
  bottom: 60%;
}

.buttondoges1 {
  background-color: #f3cc30; /* Green */
  position: absolute;
  border: none;
  color: #0e0d0dfc;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(465%, 4302%) scale(2.5);
  border: 1px solid black;
}
.buttondoges2 {
  background-color: #f3cc30; /* Green */
  position: absolute;
  border: none;
  color: #0e0d0dfc;
  padding: 4px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(703%, 4302%) scale(2.5);
  border: 1px solid black;
}
.buttondoges3 {
  background-color: #f3cc30; /* Green */
  position: absolute;
  border: none;
  color: #0e0d0dfc;
  padding: 4px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(894%, 4302%) scale(2.5);
  border: 1px solid black;
}

.ishot {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  height: 17vh;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 10%;
  top: 20%;
  border: 4px solid white;
  transform: translate(17%, -35%) scale(1);
}
.epicode {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  height: 17vh;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 10%;
  top: 20%;
  border: 4px solid white;
  transform: translate(17%, -35%) scale(1);
}
.othis {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  height: 17vh;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 10%;
  top: 20%;
  border: 4px solid white;
  transform: translate(41%, -35%) scale(1);
}
