.slide7image {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/moon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* max-width: 100%;
        height: 100vh; */
}

.dogAstro {
  height: 76vh;
  position: relative;
  left: 14%;
  top: 24%;
}
.chatbox7 {
  opacity: 0.8;
  height: 13vh;
  width: 140px;
  transform: translate(623%, 163%) scale(5);
  position: relative;
  left: -23%;
  bottom: 60%;
}

.buttondoges1 {
  background-color: #f3cc30; /* Green */
  position: relative;
  border: none;
  color: #0e0d0dfc;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(645%, 409%) scale(2.5);
  border: 1px solid black;
  left: -4%;
}
.buttondoges2 {
  background-color: #f3cc30; /* Green */
  position: relative;
  border: none;
  color: #0e0d0dfc;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  /* margin: 4px 2px; */
  left: 0.4%;
  cursor: pointer;
  transform: translate(714%, 410%) scale(2.5);
  border: 1px solid black;
}
.buttondoges3 {
  background-color: #f3cc30; /* Green */
  position: relative;
  border: none;
  color: #0e0d0dfc;
  padding: 4px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transform: translate(741%, 410%) scale(2.5);
  border: 1px solid black;
  left: 4.2%;
}

.ishot {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  height: 18vh;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 10%;
  top: 20%;
  border: 4px solid white;
  transform: translate(-82%, -86%) scale(1);
}
.epicode {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  height: 18vh;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 10%;
  top: 20%;
  border: 4px solid white;
  transform: translate(-58%, -86%) scale(1);
}
.othis {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  height: 18vh;
  width: 124px;
  border: 1px solid #ddd;
  border-radius: 4px;
  left: 10%;
  top: 20%;
  border: 4px solid white;
  transform: translate(-31%, -86%) scale(1);
}

.genesis {
  position: relative;
  height: 17vh;
  width: 120%;
  font-size: 27px;
  color: #ffff;
  right: 347px;
  left: auto;
  bottom: 49px;
}

.artist {
  position: relative;
  height: 17vh;
  width: 120%;
  font-size: 27px;
  color: #ffff;
  right: 152px;
  left: auto;
  bottom: 49px;
}

.genesis {
  position: relative;
  height: 17vh;
  width: 120%;
  font-size: 27px;
  color: #ffff;
  right: 347px;
  left: auto;
  bottom: 49px;
}

.artist {
  position: relative;
  height: 17vh;
  width: 120%;
  font-size: 27px;
  color: #ffff;
  right: 152px;
  left: auto;
  bottom: 49px;
}
.text7 {
  position: relative;
  /* padding: 30px; */
  width: 60%;
  font-size: 30px;
  left: 15%;
  bottom: 40%;
  color: white;
  z-index: 10;
}
.h7 {
  width: 41%;
  transform: translate(131%, -1410%);
}
.p7 {
  height: 15vh;
  width: 40%;
  transform: translate(126%, -388%);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@1,700&display=swap");
.p7 {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
}
