.sidebar {
  position: fixed;
  /* width: 100%; */
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
  padding-right: 120px;
}
.link {
  display: flex;
  flex-direction: row;
}
.label {
  color: yellow;
  display: none;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  /* font-weight: 20; */
}
.section-head {
  display: none;
}
a > .dot {
  padding: 0;
  margin: 0;
  height: 7px;
  width: 7px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background-color: yellow;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a > .dot:hover {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

.dot:hover + .label {
  display: block;
}
* {
  scroll-behavior: smooth;
}
