.slide4image {
  background-image: url("https://dai1hr2knmld8.cloudfront.net/bg/community.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* max-width: 100%;
    height: 100vh; */
}

.dogShort {
  height: 70vh;
  position: relative;
  left: 67%;
  top: 30%;
}
.chatbox4 {
  opacity: 0.8;
  height: 120px;
  width: 180px;
  transform: translate(623%, 259%) scale(4) scaleX(-1);
  position: absolute;
  left: -45%;
}

.button-doges4 {
  background-color: #f3cc30;
  position: absolute;
  border: none;
  color: #0e0d0dfc;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  transform: translate(1377%, 2032%) scale(2.5);
  border: 1px solid black;
  left: -40%;
}
