.slide4Wrapper4 {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.background4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.foreground4 {
  transform: translate(0%, 0%) scale(1);
}

.foreground4 {
  position: absolute;
  height: 81%;
  width: 100%;
  object-fit: scale-down;
  z-index: -1;
  margin-top: -100px;
}
.chatbox4 {
  height: 100px;
  transform: translate(623%, 285%) scale(4);
}
